/* .register-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.register-form-container {
    width: 520px;
    padding: 48px;
    box-shadow: 0px 0px 25px rgb(0, 0, 0 /20%);
    background: #fcfcfc;
}
.form-label {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    margin-right: 10px;
}
.form-control {
    height: 40px;
    display: block;
    width: 100%;
    padding: 6px 12px;
    
}
.h1 {
    font-family: Georgia;
    text-align: center;
    text-transform: uppercase;
    
}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        .register-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.register-form-container {
    width: 520px;
    padding: 48px;
    box-shadow: 0px 0px 25px rgb(0, 0, 0 /20%);
    background: #fcfcfc;
}
.form-label {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    margin-right: 10px;
}
.form-control {
    height: 40px;
    display: block;
    width: 100%;
    padding: 6px 12px;
    
}
.h1 {
    font-family: Georgia;
    text-align: center;
    text-transform: uppercase;
    
}*/