
.title::after{
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background-color: #fff;
    filter: blur(15px);
}

.title::before, .title::after {
    background: linear-gradient(235deg, red, transparent, red);
}

.lazy-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    background-color: #212529
}
.search{
    flex-wrap: wrap;
}

.lazy-container::-webkit-scrollbar{
    display: none;
}